<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="C://Users//USSER//source//repos//ivifb//ivifb//Resurse//carti.txt"/>
    <add key="C://Users//USSER//source//repos//ivifb//ivifb//Resurse//imprumuturi.txt"/>
    <add key="C://Users//USSER//source//repos//ivifb//ivifb//Resurse//utilizatori.txt"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)//MSSQLLocalDB;AttachDbFilename=C://Users//USSER//source//repos//ivifb//ivifb//Database1.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>